fastapi
uvicorn
langchain
langchain_classic
langchain_community
beautifulsoup4
langchain
langchain-mistralai
python-dotenv
tavily
asyncio
aiofiles
httpx

# Add other dependencies your project needs below, e.g.:
# openai
# requests
# aiohttp